<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Timezones</title>
  <%= stylesheet_link_tag :defaults %>
</head>
<body>

<p><span class="purple">eastern</span>5:35</p>
<p><span class="pink">pacific</span>5:35</p>
<p><span class="lime">central</span>5:35</p>
<p><span class="green">mountain</span>5:35</p>
<p><span class="sea">gmt</span>5:35</p>
<p><span class="blue">gmt-5</span>5:35</p>

<div>
  <h1>timezones</h1>
  developed by <%= link_to "federico", "http://mheroin.com", :class => "purple" %>. colors borrowed from <%= link_to "twistori", "http://twistori.com", :class => "pink" %> by <%= link_to "amy", "http://twitter.com/amyhoy", :class => "lime" %> and <%= link_to "thomas", "http://twitter.com/thomasfuchs", :class => "green" %>. they make a great product called <%= link_to "freckle", "http://letsfreckle.com", :class => "sea" %>. read the source code in <%= link_to "github", "http://github.com/febuiles/timezones", :class => "blue" %>.
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
</body>
</html>
