<p><span class="purple">eastern</span><%= Time.for("America/New_York") %></p>
<p><span class="pink">pacific</span><%= Time.for("America/Los_Angeles") %></p>
<p><span class="lime">central</span><%= Time.for("America/Chicago") %></p>
<p><span class="green">mountain</span><%= Time.for("America/Denver") %></p>
<p><span class="blue">colombia</span><%= Time.for("America/Bogota") %></p>
<p><span class="purple">south korea</span><%= Time.for("Asia/Seoul") %></p>
<p><span class="sea">gmt</span><%= Time.for("UTC") %></p>


<div>
  <h1>zomgtime</h1>
  developed by <%= link_to "federico", "http://mheroin.com", :class => "purple" %>. colors borrowed from <%= link_to "twistori", "http://twistori.com", :class => "pink" %> by <%= link_to "amy", "http://twitter.com/amyhoy", :class => "lime" %> and <%= link_to "thomas", "http://twitter.com/thomasfuchs", :class => "green" %>. they make a great product called <%= link_to "freckle", "http://letsfreckle.com", :class => "sea" %>. read the source code in <%= link_to "github", "http://github.com/febuiles/zomgtime", :class => "blue" %>.
</div>
